.form {
    width: 40%;
    padding: 20px;
    display: flex;
    margin: 0 auto;
    height: 60vh;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.input {
    margin-bottom: 20px !important;
}